.description{
  font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 170%;
letter-spacing: 0%;
text-transform: capitalize;
}

.title{
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;

}
.cardMember{
font-family: "Inter", sans-serif;
font-weight: 500;
font-size: 23.38px;
line-height: 21.92px;
letter-spacing: 4%;

}
.cardDescription{
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 11.69px;
line-height: 17.53px;
letter-spacing: 0%; 
}
.cardFrim{
  box-shadow: 0px 2px 2px 2px #00000040;
}

/* 
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;

*/